<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>安逸的打工人</title>
    <script>
        var _hmt = _hmt || [];
        _hmt.push(['_requirePlugin', 'UrlChangeTracker', {
            shouldTrackUrlChange: function (newPath, oldPath) {
                return newPath && oldPath;
            }
        }
        ]);
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?14b18203dcee10a38c6b4fbfe5cdb28d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript">
        var url = window.location.href;
        if (url.indexOf("https") < 0) {
            url = url.replace("http:", "https:");
            window.location.replace(url);
        }
    </script>
</head>

</html>